<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jun.androidexample">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".gson.GsonActivity"/>
        <activity android:name=".gson.Gson_1"/>
        <activity android:name=".gson.Gson_2"/>
        <activity android:name=".gson.Gson_3"/>
        <activity android:name=".gson.Gson_4"/>
        <activity android:name=".parcelable.Parcelable_1"/>
        <activity android:name=".parcelable.Parcelable_2"/>
        <activity android:name=".serializable.Serializable_1"/>
        <activity android:name=".serializable.Serializable_2"/>
        <activity android:name=".pull.PullActivity"/>
        <activity android:name=".sax.SaxActivity"/>
        <activity android:name=".customview.CustomViewActivity"/>
        <activity android:name=".customviewgroup.CustomViewGroupActivity"/>
        <activity android:name=".qualifier.QualifierActivity"/>
        <activity android:name=".qualifier.NewsContentActivity"/>
        <activity android:name=".percent.PercentActivity"/>
        <activity android:name=".viewpager.ViewPagerActivity"/>
        <activity android:name=".bannerview.BannerViewActivity"/>
        <activity android:name=".imageslider.ImageSliderActivity"/>
        <activity android:name=".recyclerview.RecyclerViewActivity"/>
        <activity android:name=".FloatingActionButton.FloatingActionButtonActivity"/>

        <activity android:name=".activity.ForegroundActivity"/>
        <activity android:name=".activity.ServiceActivity"/>
        <activity android:name=".activity.MessengerActivity"/>
        <activity android:name=".activity.AIDLActivity"/>
        <activity android:name=".activity.CoordinatorLayoutActivity"/>
        <activity android:name=".activity.HttpURLConnectionActivity"/>
        <activity android:name=".activity.SocketActivity"/>

        <service android:name=".service.StartService"/>
        <service android:name=".service.BindService"/>
        <service android:name=".service.DownloadService"/>
        <service android:name=".service.ForegroundService"/>
        <service android:name=".service.MessengerService"/>
    </application>
</manifest>